<div class="twelve">
  <h1>{% if current_tags %}{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}{% if section.settings.include_rss %} <a href="{{ blog.url}}.atom" title="{{ blog.title | escape }} {{ 'blogs.sidebar.rss_feed' | t }}" target="_blank" role="button" aria-label="{{ blog.title }} {{ 'blogs.sidebar.rss_feed' | t }}"><span class="icon icon-rss"></span></a>{% endif %}</h1>
</div>