{%- liquid
  assign full_width = section.settings.full_width
  assign screen = ''
  if section.settings.background_img_d != blank or section.settings.background_img_m != blank
    assign background_img = true
  else
    assign background_img = false
  endif         
  if background_img
    capture alt_d
      if section.settings.background_img_d.alt != blank
        echo section.settings.background_img_d.alt
      elsif section.settings.title != blank
        echo section.settings.title
      elsif section.settings.sub_title != blank
        echo section.settings.sub_title
      elsif section.settings.body != blank
        echo section.settings.body
      else
        echo section.settings.background_img_d | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
      endif
    endcapture 
    capture alt_m
      if section.settings.background_img_m.alt != blank
        echo section.settings.background_img_m.alt
      elsif section.settings.title != blank
        echo section.settings.title
      elsif section.settings.sub_title != blank
        echo section.settings.sub_title
      elsif section.settings.body != blank
        echo section.settings.body
      else
        echo section.settings.background_img_m | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
      endif
    endcapture 
  endif
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif     
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign background_color = true
    assign background_color_section = section.settings.background
  endif    
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
  capture classes
    echo 'dynamic-section dynamic-section-'
    echo section.id 
    echo ' section-padding-top section-padding-bottom section-margin-bottom '
    if section.settings.padding_border
      echo 'section-border '
    endif
  endcapture
  assign overlay_color = false
  if section.settings.background_img_overlay != 'rgba(0,0,0,0)' and section.settings.background_img_overlay != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay
  endif
  if section.settings.background_img_overlay_gradient != 'rgba(0,0,0,0)' and section.settings.background_img_overlay_gradient != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay_gradient
  endif
  if section.settings.enable_lazy
    assign lazy = 'lazy'
  else
    assign lazy = 'eager'
  endif
  assign color = text_color_section | replace: '#', '%23'
-%}

{% style %}
  .dynamic-section-{{ section.id }} { 
    --margin_padding: {{ section.settings.padding }}vh;
    {%- if background_color -%}
    --background:{{ background_color_section }};
    --button_primary_text:{{ section.settings.background }};
    --button_secondary_hover:{{ section.settings.background }};
    {%- endif -%}
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
  }
  .dynamic-section-{{ section.id }} .banner-div { 
    {%- if text_color -%}
    --headline_font_color:{{ text_color_section }};
    --body_font_color:{{ text_color_section }};
    --line_color:{{ text_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
    --body_font_hover_color:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if overlay_color -%}
    --background:{{ overlay_color_section }};
    --overlay_background: {{ overlay_color_section }};
    --overlay_opacity: {{ section.settings.background_img_overlay_opacity | times: 0.01 }};
    {%- endif -%}
    {%- if color != blank -%}
    [type="search"]::-webkit-search-cancel-button{
      background-image: url("data:image/svg+xml,%3Csvg height='16' width='16' viewBox='0 0 24 24' aria-hidden='true' focusable='false' role='presentation' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs'%3E%3Cg%3E%3Cpath d='M 5 5 L 19 19' fill='none' stroke='{{ color }}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3px'/%3E%3Cpath d='M 19 5 L 5 19' fill='none' stroke='{{ color }}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3px'/%3E%3C/g%3E%3C/svg%3E");
    }
    {%- endif -%}
  }
  .dynamic-section-{{ section.id }} .active input[type=search].search-field { 
    {%- if text_color -%}
    --line_color:{{ settings.line_color }};
    --body_font_color:{{ settings.body_font_color }};
    {%- endif -%}
    --background:{{ settings.background_color }};
  }
  .dynamic-section-{{ section.id }} .predictive-search { 
    {%- if text_color -%}
    --headline_font_color:{{ settings.headline_font_color }};
    --body_font_color:{{ settings.body_font_color }};
    --line_color:{{ settings.line_color }};
    {%- endif -%}
    {%- if overlay_color or background_color -%}
    --background:{{ settings.background_color }};
    {%- endif -%}
  }
{% endstyle %}

<section data-section-id="{{ section.id }}" 
         data-section-type="search_page" 
         class="{{ classes }}search_page page {% if settings.animation_enable %}animate-section-div {% endif %}clearfix">

  {%- liquid
    assign block_width = section.settings.block_width
    case block_width
      when '4'
        assign block_width = 'four'
      when '6'
        assign block_width = 'six'
      when '8'
        assign block_width = 'eight'
      when '9'
        assign block_width = 'nine'
    endcase
  -%}
  <div class="banner-div {% if full_width %}{% if background_img or overlay_color %}relative {% if background_img %}lazycontainer lazyignore {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
    {%- liquid
      if full_width and section.settings.background_img_d != blank
      if section.settings.background_img_m != blank
        assign screen = 'desktop-image '
      endif
      render 'image.load', img_src: section.settings.background_img_d, size: section.settings.background_img_d.width, alt: alt_d, background: true, screen: screen, full_width: true, lazy: lazy, sizes: '100vw'
      endif
      if full_width and section.settings.background_img_m != blank
        if section.settings.background_img_d != blank
          assign screen = 'mobile-image '
        endif
      render 'image.load', img_src: section.settings.background_img_m, size: section.settings.background_img_m.width, alt: alt_m, background: true, screen: screen, full_width: true, lazy: lazy, sizes: '100vw'
      endif
    -%}
    <div class="relative container{% if full_width %} half-pad{% else %} {% if background_img or overlay_color %}inner-container{% else %}half-pad{% endif %}{% endif %}{% if settings.animation_enable %} animate-section load{% endif %} clearfix">
      <div class="{% if full_width == false %}{% if background_img or overlay_color %}inner-container-pad relative {% if background_img %}lazycontainer lazyignore {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
        {%- liquid
          if full_width == false and section.settings.background_img_d != blank
            if section.settings.background_img_m != blank
              assign screen = 'desktop-image '
            endif
            render 'image.load', img_src: section.settings.background_img_d, size: section.settings.background_img_d.width, alt: alt_d, background: true, screen: screen, lazy: lazy, sizes: '(min-width: 1220px) 1180px, calc(100vw - 40px)'
          endif
          if full_width == false and section.settings.background_img_m != blank
            if section.settings.background_img_d != blank
              assign screen = 'mobile-image '
            endif
            render 'image.load', img_src: section.settings.background_img_m, size: section.settings.background_img_m.width, alt: alt_m, background: true, screen: screen, lazy: lazy, sizes: '(min-width: 1220px) 1180px, calc(100vw - 40px)'
          endif
        -%}
        <div class="relative table content-height">
          <div class="table-cell {{ section.settings.vertical_content_alignment }}">
            <div class="{{ block_width }} animate {{ section.settings.text_alignment }} {{ section.settings.horizontal_content_alignment }} bottompad-half">
              {%- liquid
                if section.settings.title_h1
                  assign title = 1
                else
                  assign title = 2
                endif
              -%}
              {% if section.settings.title_enable %}<h{{ title }} class="section-title-{{ section.settings.title_size }}">{% if section.settings.title != blank%}{{ section.settings.title | escape }}{% else %}{{ 'general.search.title' | t }}{% endif %}</h{{ title }}>{% endif %}
              {% if section.settings.sub_title != blank %}<h3 class="section-title-{{ section.settings.title_sub_size }}">{{ section.settings.sub_title | escape }}</h3>{% endif %}
              {% if section.settings.body != blank %}{{ section.settings.body }}{% endif %}
              <div class="search-form">{%- render 'search', id: section.id, search_class: 'page', block_width: block_width -%}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% if search.performed %}
  <div id="collection-grid" class="container half-pad toppad {% if settings.animation_enable %}animate-section animate-section-margin load {% endif %}clearfix">
    {% if search.filters != empty and section.settings.include_sort or search.filters != empty and section.settings.include_filtering %}
      <a href="#collection-products" title="{{ 'layout.general.skipto' | t | escape }}" class="skip-to text-center visually-hidden">{{ 'layout.general.skipto' | t }}</a>
      <div id="sorting" class="sorting open-container desktop">
        {% if search.performed %}<div class="twelve text-center message bottompad-half clearfix"><p>{{ 'general.search.results_for_html' | t: terms: search.terms }}</p></div>{% endif %}
        <details open>
          <summary class="btn outline auto-width open open-{{ section.id }}" title="{{ 'collections.sidebar.sort_filter' | t | escape }}" aria-label="{{ 'collections.sidebar.sort_filter' | t | escape }}" aria-controls="collection-{{ section.id }}-filters"><span class="open-btn">{%- render 'icons.theme', icon: 'filter', size: '16' -%}{{ 'collections.sidebar.sort_filter' | t }}</span></summary>
        </details>
        <div id="collection-{{ section.id }}-filters" class="open-slide collection-template-filters">
          <div class="collection-filters">
            <div id="filters" class="three">
              {%- liquid
                if section.settings.include_sort
                  echo '<div class="clearfix bottompad-quarter">'
                  render 'collection.sort', class: 'search-page ', collection: search
                  echo '</div>'
                endif
                if collection.filters != empty and section.settings.include_filtering
                  render 'collection.filters.default', collection: search, filter_disabled: section.settings.filter_disabled
                endif
              -%}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="collection-products"{% if search.filters != empty and section.settings.include_sort or search.filters != empty and section.settings.include_filtering %} class="nine right negative-left negative-right"{% endif %}>
      {% if search.results_count > 0 %}
        {%- assign paginationAmount = section.settings.products_per_page | downcase -%}
        {%- paginate search.results by paginationAmount -%}

        {%- liquid
          assign search_results = ''
          for line_item in search.results
            capture search_results
              unless search_results == blank
                echo search_results
                echo '|'
              endunless
              echo line_item.object_type
            endcapture
          endfor
          assign search_results = search_results | split: '|' | uniq
        -%}

        {% for categories in search_results %}
          {% unless forloop.index0 < 1 and forloop.last %}<div class="twelve"><h4>{{ categories | capitalize | append: 's' }}</h4><hr class="search"/></div>{% endunless %}
          <div class="{% if categories == 'product' %}collection-products {% endif %}product-loop product-id{% unless forloop.last %} bottompad{% endunless %}" data-product-id="{{ section.id }}">  
            {%- liquid
              for line_item in search.results
                if line_item.object_type == categories
                  if line_item.object_type == 'product'
                    if search.filters != empty and section.settings.include_sort or search.filters != empty and section.settings.include_filtering
                      case section.settings.product_row
                        when 2
                          assign block_width = 'twelve'
                          assign size = 880
                          assign lazy_total = 1
                          assign block_width_filter = 'six'
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 600px) 270px, (min-width: 768px) 880px, calc(100vw - 40px)'
                          assign block_width_collection = 'six'
                        when 3
                          assign block_width = 'six'
                          assign size = 430
                          assign lazy_total = 3
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 600px) 270px, (min-width: 768px) 430px, calc(100vw - 40px)'
                          assign block_width_filter = 'four'
                          assign block_width_collection = 'eight'
                        when 4
                          assign block_width = 'four'
                          assign size = 280
                          assign lazy_total = 5
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 600px) 270px, (min-width: 768px) 280px, calc(100vw - 40px)'
                          assign block_width_filter = 'three'
                          assign block_width_collection = 'nine'
                        else
                          assign block_width = 'three'
                          assign size = 270
                          assign lazy_total = 7
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 600px) 270px, (min-width: 768px) 210px, calc(100vw - 40px)'
                          assign block_width_filter = 'two-half'
                          assign block_width_collection = 'nine'
                      endcase
                    else
                      case section.settings.product_row
                        when 2
                          assign block_width = 'six'
                          assign size = 580
                          assign lazy_total = 3
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 768px) calc(50vw - 40px), calc(100vw - 40px)'
                        when 3
                          assign block_width = 'four'
                          assign size = 380
                          assign lazy_total = 5
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 768px) calc(33.33vw - 40px), calc(100vw - 40px)'
                        when 4
                          assign block_width = 'three'
                          assign size = 360
                          assign lazy_total = 7
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 768px) calc(25vw - 40px), calc(100vw - 40px)'
                        else
                          assign block_width = 'two-half'
                          assign size = 360
                          assign lazy_total = 9
                          assign sizes = '(min-width: 320px) calc(50vw - 40px), (min-width: 768px) calc(20.833vw - 40px), calc(100vw - 40px)'
                      endcase
                    endif
                  else
                    assign block_width = 'six'
                  endif
                  capture layout_mobile
                    echo ' product-'
                    echo section.settings.layout_mobile
                  endcapture
                  render 'product.loop', product: line_item, block_width: block_width, layout_mobile: layout_mobile, forloop_index0: forloop.index0, search_terms: search.terms, size: size, lazy: lazy, sizes: sizes, lazy_total: lazy_total
                endif
              endfor
            -%}
          </div>
        {% endfor %}

        {% if paginate.pages > 1 %}
        <div class="pagination">
          {%- render 'pagination', paginate: paginate -%}
        </div>
        {% endif %}

        {% endpaginate %} 
      {% else %}
        <div id="collection-products" class="tab-body text-center"><h5 class="toppad">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h5></div>
      {% endif %}

    </div>
  </div>
  {% endif %}
  
</section>

{% schema %}
  {
    "name": "t:sections.search_page.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.banner.label"
      },
      {
        "id": "title_enable",
        "type": "checkbox",
        "label": "t:sections.heading.show_heading",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.heading.label"
      },
      {
        "id": "title_h1",
        "type": "checkbox",
        "label": "t:sections.heading.heading_one",
        "default": true
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.heading.heading_size",
        "min": 12,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 48
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "t:sections.subheading.label"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.subheading.subheading_size",
        "min": 12,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 24
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "t:sections.text.label"
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color"
      },{
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.text_alignment.label",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "t:sections.alignment.left"
          },
          {
            "value": "text-center",
            "label": "t:sections.alignment.center"
          },
          {
            "value": "text-right",
            "label": "t:sections.alignment.right"
          }
        ]
      },
      {
        "type": "select",
        "id": "block_width",
        "label": "t:sections.content_width.label",
        "default": "6",
        "options": [
          {
            "value": "6",
            "label": "50%"
          },
          {
            "value": "8",
            "label": "66%"
          },
          {
            "value": "9",
            "label": "75%"
          }
        ]
      },
      {
        "type": "select",
        "id": "horizontal_content_alignment",
        "label": "t:sections.horizontal_position.label",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "t:sections.alignment.left"
          },
          {
            "value": "center",
            "label": "t:sections.alignment.center"
          },
          {
            "value": "right",
            "label": "t:sections.alignment.right"
          }
        ]
      },
      {
        "type": "select",
        "id": "vertical_content_alignment",
        "label": "t:sections.vertical_position.label",
        "default": "middle",
        "options": [
          {
            "value": "top",
            "label": "t:sections.vertical_position.top"
          },
          {
            "value": "middle",
            "label": "t:sections.vertical_position.middle"
          },
          {
            "value": "bottom",
            "label": "t:sections.vertical_position.bottom"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "background_img_d",
        "label": "t:sections.image.desktop.label",
        "info": "t:sections.image.desktop.info"
      },
      {
        "type": "image_picker",
        "id": "background_img_m",
        "label": "t:sections.image.mobile.label",
        "info": "t:sections.image.mobile.info"
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "t:sections.full_width.label",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.height.label",
        "default": 50
      },
	  {
        "type": "color",
        "id": "background_img_overlay",
        "label": "t:sections.overlay.label"
      },
      {
        "type": "color_background",
        "id": "background_img_overlay_gradient",
        "label": "t:sections.overlay.gradient"
      },
      {
        "type": "range",
        "id": "background_img_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.opacity.label",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.options.label"
      },
      {
        "type": "checkbox",
        "id": "include_sort",
        "label": "t:sections.show_sorting.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "include_filtering",
        "default": true,
        "label": "t:sections.show_filters.label"
      },
      {
        "type": "checkbox",
        "id": "filter_disabled",
        "label": "t:sections.hide_filters.label",
        "default": false
      },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 12,
        "max": 48,
        "step": 12,
        "label": "t:sections.products_per_page.label",
        "default": 24
      },
      {
        "type": "range",
        "id": "product_row",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "t:sections.collection_grid_columns.label",
        "default": 5
      },
      {
        "type": "select",
        "id": "layout_mobile", 
        "label": "t:sections.product_layout_mobile.label",
        "default": "columns",
        "options": [
          {
            "value": "rows",
            "label": "t:sections.product_layout_mobile.rows"
          },
          {
            "value": "columns",
            "label": "t:sections.product_layout_mobile.columns"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "enable_lazy",
        "type": "checkbox",
        "label": "t:sections.section.settings.lazy.multiple.label",
        "default": false
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 0
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": false
      }
    ]
  }
{% endschema %}