{%- liquid
  assign full_width = section.settings.full_width
  if section.settings.background_img != blank
    capture alt
      if section.settings.background_img.alt != blank
        echo section.settings.background_img.alt
      elsif section.settings.sub_title != blank
        echo section.settings.sub_title
      else
        echo section.settings.background_img | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
      endif
    endcapture  
  endif
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign background_color = true
    assign background_color_section = section.settings.background
  endif    
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
  capture classes
    echo 'dynamic-section dynamic-section-'
    echo section.id 
  endcapture
  assign overlay_color = false
  if section.settings.background_img_overlay != 'rgba(0,0,0,0)' and section.settings.background_img_overlay != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay
  endif
  if section.settings.background_img_overlay_gradient != 'rgba(0,0,0,0)' and section.settings.background_img_overlay_gradient != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay_gradient
  endif
-%}

{% style %}
  .dynamic-section-{{ section.id }} { 
    --margin_padding: {{ section.settings.padding }}vh;
    {%- if text_color -%}
    --accent_color:{{ text_color_section }};
    --headline_font_color:{{ text_color_section }};
    --body_font_color:{{ text_color_section }};
    --line_color:{{ text_color_section }};
    --line_color_darken_10:{{ text_color_section }};
    --button_primary_background:{{ text_color_section }};
    --button_primary_border:{{ text_color_section }};
    --button_primary_text:var(--background);
    {%- endif -%}
    {%- if text_color_hover -%}
    --body_font_hover_color:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if background_color -%}
    --background:{{ background_color_section }};
    --button_primary_text:{{ section.settings.background }};
    --button_secondary_hover:{{ section.settings.background }};
    {%- endif -%}
    {%- if overlay_color -%}
    --overlay_background: {{ overlay_color_section }};
    --overlay_opacity: {{ section.settings.background_img_overlay_opacity | times: 0.01 }};
    --button_primary_text:{{ section.settings.background_img_overlay }};
    --button_secondary_hover:{{ section.settings.background_img_overlay }};
    {%- endif -%}
  }
{% endstyle %}

<div class="{{ classes }} password sticky-navigation">
  <div class="password-page"><div id="ajaxBusy"><div class="loader"></div></div>

    <section data-section-id="{{ section.id }}" 
             data-section-type="password_page" 
             class="skip {% if settings.animation_enable %}animate-section-div {% endif %}clearfix">
    
      <div class="relative {% if full_width %}{% if section.settings.background_img != blank or overlay_color %}{% if section.settings.background_img != blank %}lazycontainer lazyignore {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
        {%- liquid
          if full_width and section.settings.background_img != blank
            render 'image.load', img_src: section.settings.background_img, size: section.settings.background_img.width, alt: alt, background: true, full_width: true, lazy: 'eager', sizes: '100vw'
          endif
        -%}
        <div class="relative container{% if full_width %} half-pad{% else %} {% if section.settings.background_img != blank or overlay_color %}inner-container{% else %}half-pad{% endif %}{% endif %}{% if settings.animation_enable %} animate-section load{% endif %} clearfix">
          <div class="{% if full_width == false %}{% if section.settings.background_img != blank or overlay_color %}inner-container-pad relative {% if section.settings.background_img != blank %}lazycontainer lazyignore {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
            {%- liquid
              if full_width == false and section.settings.background_img != blank
                render 'image.load', img_src: section.settings.background_img, size: section.settings.background_img.width, alt: alt, background: true, lazy: 'eager', sizes: '(min-width: 1220px) 1180px, calc(100vw - 40px)'
              endif
            -%}
            <div class="relative table content-height">
              <div class="table-cell">
                <div class="eight text-center center animate">                  
                  {% if section.settings.logo %}
                    <div class="logo bottompad">
                      {%- liquid
                        capture alt
                          if section.settings.logo.alt != blank
                            echo section.settings.logo.alt | escape
                          else
                            echo shop.name | escape
                          endif
                        endcapture
                        render 'image.load', img_src: section.settings.logo, size: section.settings.logo_max_width, alt: alt, logo: true, lazy: 'eager'
                      -%}
                    </div>
                  {% else %}
                    <h1>{{ shop.name | escape }}</h1>
                  {% endif %}
                  {% if section.settings.sub_title != blank %}<h3>{{ section.settings.sub_title | escape }}</h3>{% endif %}
                  {% if shop.password_message != blank %}
                    <p>{{ shop.password_message }}</p>
                  {% endif %}
                  {%- liquid
                    if section.settings.include_newsletter
                      render 'newsletter'
                    endif
                    if section.settings.include_social != 'none'
                      if section.settings.include_social == 'follow'
                        render 'social.follow'
                      elsif section.settings.include_social == 'share'
                        render 'social.share', share_title: shop.name, share_permalink: '', share_image: section.settings.logo, icon_class: 'section-color'
                      endif
                    endif
                  -%}
                  <p class="bottompad-half"><small>{{ powered_by_link }}</small></p> 
                </div>                
              </div>
            </div>
          </div>
        </div>
        <div class="password-links{% if section.settings.padding == 100 %} full{% endif %}">            
          <button data-micromodal-trigger="access" 
                  type="button" 
                  data-src="{{ canonical_url }}"
                  data-container="access"
                  aria-label="{{ 'general.password.access' | t | escape }}">{{ 'general.password.access' | t }}</button>            
          <span class="separator" aria-hidden="true"></span>            
          <button data-micromodal-trigger="owner" 
                  type="button" 
                  data-src="{{ canonical_url }}"
                  data-container="owner"
                  aria-label="{{ 'general.password.owner' | t | escape }}">{{ 'general.password.owner' | t }}</button>
        </div> 
      </div>

      <div id="access" class="modal" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1" data-micromodal-close>
          <div class="modal-container shopify-section table-center text-center" role="dialog" aria-modal="true" aria-labelledby="modal-password" >
            <div class="modal-content text-center">
              <div class="six">
                <h3 id="modal-password">{{ 'general.password.password_msg' | t }}</h3>
                {% form 'storefront_password' %}
                {{ form.errors | default_errors }}
                <span class="form">
                  <label for="password" class="visually-hidden">{{ 'general.password.password_placeholder' | t }}</label>
                  <input type="password" name="password" id="password" class="text-center" placeholder="{{ 'general.password.password_placeholder' | t }}" />
                </span>
                <span class="text-center form"><input class="btn advanced auto-full-width" name="commit" type="submit" value="{{ 'general.password.enter' | t }}" /></span>
                {% endform %}
              </div>
            </div>
            <button class="modal-close" aria-label="{{ 'layout.general.close' | t | escape }}" data-micromodal-close>{%- render 'icons.theme', icon: 'times', size: 18 -%}</button>
          </div>
        </div>
      </div>

      <div id="owner" class="modal" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1" data-micromodal-close>
          <div class="modal-container shopify-section table-center text-center" role="dialog" aria-modal="true" aria-labelledby="modal-owner" >
            <div class="modal-content text-center">
              <div class="six">
                <h3 id="modal-owner">{{ 'general.password.store_owner' | t }}</h3>
                <p><a href="/admin" title="{{ 'general.password.log_in' | t | escape }}">{{ 'general.password.log_in' | t }}</a><span class="separator" aria-hidden="true"></span><a href="/admin/online_store/preferences?tutorial=unlock" title="{{ 'general.password.password' | t | escape }}">{{ 'general.password.password' | t }}</a></p>
              </div>
            </div>
            <button class="modal-close" aria-label="{{ 'layout.general.close' | t | escape }}" data-micromodal-close>{%- render 'icons.theme', icon: 'times', size: 18 -%}</button>
          </div>
        </div>
      </div>
      
    </section>

  </div>
</div>

{% schema %}
  {
    "name": "t:sections.password.name",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.logo.label"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 100,
        "max": 350,
        "step": 10,
        "unit": "px",
        "label": "t:sections.max_logo.label",
        "default": 160
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "t:sections.subheading.label",
        "default": "Will be opening soon..."
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.subheading.subheading_size",
        "min": 12,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 24
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color"
      },
      {
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover"
      },
      {
        "type": "checkbox",
        "id": "include_newsletter",
        "label": "t:sections.show_newsletter.label",
        "default": true
      },
      {
        "type": "select",
		"id": "include_social",
        "label": "t:sections.show_social_buttons.label",
        "info": "t:sections.show_social_follow.info",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "t:sections.show_social_buttons.none"
          },
          {
            "value": "share",
            "label": "t:sections.show_social_buttons.share"
          },
          {
            "value": "follow",
            "label": "t:sections.show_social_buttons.follow"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.background.label"
      },
      {
        "type": "image_picker",
        "id": "background_img",
        "label": "t:sections.image.label",
        "info": "t:sections.image.desktop.info"
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "t:sections.full_width.label",
       "default": true
      },
      {
        "type": "range",
        "id": "padding",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.height.label",
        "default": 25
      },
	  {
        "type": "color",
        "id": "background_img_overlay",
        "label": "t:sections.overlay.label"
      },
      {
        "type": "color_background",
        "id": "background_img_overlay_gradient",
        "label": "t:sections.overlay.gradient"
      },
      {
        "type": "range",
        "id": "background_img_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.opacity.label",
        "default": 0
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      }
    ]
  }
{% endschema %}