
<ul class="pagination{{ class }}" role="navigation" aria-label="{{ 'layout.general.pagination' | t }}">

  {%- liquid
    if paginate.next
      assign paginate_next = true
    else
      assign paginate_next = false
    endif
  -%}
  
  {% if paginate.previous %}
    <li class="pagination-previous">
      <a href="{{ paginate.previous.url }}" class="prev" title="{{ 'layout.general.previous' | t | escape }}">{%- render 'icons.theme', icon: 'left', size: '14' -%}</a>
      <span class="separator" aria-hidden="true"></span>
    </li>
  {% endif %}

  {% for part in paginate.parts %}

    {%- liquid
      capture part_title
        if part.is_link          
          assign alt = 'layout.general.pagination_page' | t: page: part.title | prepend: ' ' | prepend: title
          echo part.title | link_to: part.url, title: alt
        else
          if part.title == '&hellip;'
            echo part.title | replace: '&hellip;', '&middot;'
          else
            echo '<a href="'
            echo paginate.current_page.url
            echo '" title="'
            echo 'collections.general.current_page' | t: current: paginate.current_page, total: paginate.pages
            echo '" aria-current="true">'
            echo part.title | replace: '&hellip;', '&middot;'
            echo '</a>'
          endif
        endif
      endcapture
    -%}

    <li><span{% unless part.is_link %} class="{% if part.title == '&hellip;' %}pagination-ellipsis{% else %}pagination-active{% endif %}"{% endunless %}>{{ part_title }}</span>{% unless forloop.last %}<span class="info-separator" aria-hidden="true">&middot;</span>{% endunless %}</li>
    
  {% endfor %}

  {% if paginate_next %}
    <li class="pagination-next">
      <span class="separator" aria-hidden="true"></span>
      <a href="{{ paginate.next.url }}" data-next-page="{{ paginate.current_page | plus:1 }}" class="next" title="{{ 'layout.general.next' | t | escape }}">{%- render 'icons.theme', icon: 'right', size: '14' -%}</a>
    </li>
  {% endif %}
  
</ul>