<form action="{{ routes.search_url }}" method="get" class="x search-form search-form-{{ section.id }} {{ search_class }}" role="search">
  <input type="hidden" name="options[unavailable_products]" value="show" />
  <input type="hidden" name="options[prefix]" value="last" />
  <input name="q" type="text" class="search-field" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" autofocus/>

<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_1288_275)">
<circle cx="14" cy="14" r="14" fill="#F7F4ED"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.1134 10.1134C10.2646 9.96221 10.5097 9.96221 10.6608 10.1134L14 13.4526L17.3392 10.1134C17.4904 9.96221 17.7355 9.96221 17.8866 10.1134C18.0378 10.2645 18.0378 10.5096 17.8866 10.6608L14.5474 14L17.8866 17.3392C18.0378 17.4904 18.0378 17.7355 17.8866 17.8866C17.7355 18.0378 17.4904 18.0378 17.3392 17.8866L14 14.5474L10.6608 17.8866C10.5096 18.0378 10.2645 18.0378 10.1134 17.8866C9.96221 17.7355 9.96221 17.4904 10.1134 17.3392L13.4526 14L10.1134 10.6608C9.96222 10.5096 9.96222 10.2645 10.1134 10.1134Z" stroke="#96865D" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_1288_275">
<rect width="28" height="28" fill="white"/>
</clipPath>
</defs>
</svg>

</form>