{%- liquid
  assign full_width = section.settings.full_width
  if section.blocks.size > 0
  assign section_onboarding = false
  else
  assign section_onboarding = true
  endif
  assign screen = ''
  if section.settings.background_img_d != blank or section.settings.background_img_m != blank
    assign background_img = true
  else
    assign background_img = false
  endif         
  if background_img
    capture alt_d
      if section.settings.background_img_d.alt != blank
        echo section.settings.background_img_d.alt
      elsif section.settings.title != blank
        echo section.settings.title
      elsif section.settings.sub_title != blank
        echo section.settings.sub_title
      elsif section.settings.body != blank
        echo section.settings.body
      else
        echo section.settings.background_img_d | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
      endif
    endcapture 
    capture alt_m
      if section.settings.background_img_m.alt != blank
        echo section.settings.background_img_m.alt
      elsif section.settings.title != blank
        echo section.settings.title
      elsif section.settings.sub_title != blank
        echo section.settings.sub_title
      elsif section.settings.body != blank
        echo section.settings.body
      else
        echo section.settings.background_img_m | split: '/' | last | replace: '-', ' ' | replace: '_', ' ' | split: '.' | first | capitalize
      endif
    endcapture 
  endif
  assign text_color = false
  if section.settings.section_color != 'rgba(0,0,0,0)' and section.settings.section_color != blank
    assign text_color = true
    assign text_color_section = section.settings.section_color
  endif     
  assign text_color_hover = false
  if section.settings.section_color_hover != 'rgba(0,0,0,0)' and section.settings.section_color_hover != blank
    assign text_color_hover = true
    assign text_color_hover_section = section.settings.section_color_hover
  endif 
  assign background_color = false
  if section.settings.background != 'rgba(0,0,0,0)' and section.settings.background != blank
    assign background_color = true
    assign background_color_section = section.settings.background
  endif    
  if section.settings.background_gradient != 'rgba(0,0,0,0)' and section.settings.background_gradient != blank
    assign background_color = true
    assign background_color_section = section.settings.background_gradient
  endif
  capture classes
    echo 'dynamic-section dynamic-section-'
    echo section.id 
    echo ' section-padding-top section-padding-bottom section-margin-bottom '
    if section.settings.padding_border
      echo 'section-border '
    endif
  endcapture
  assign overlay_color = false
  if section.settings.background_img_overlay != 'rgba(0,0,0,0)' and section.settings.background_img_overlay != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay
  endif
  if section.settings.background_img_overlay_gradient != 'rgba(0,0,0,0)' and section.settings.background_img_overlay_gradient != blank
    assign overlay_color = true
    assign overlay_color_section = section.settings.background_img_overlay_gradient
  endif
  assign input_color = false
  if section.settings.input_color != 'rgba(0,0,0,0)' and section.settings.input_color != blank
    assign input_color = true
    assign input_color_section = section.settings.input_color
  endif
  assign input_color_hover = false
  if section.settings.input_color_hover != 'rgba(0,0,0,0)' and section.settings.input_color_hover != blank
    assign input_color_hover = true
    assign input_color_hover_section = section.settings.input_color_hover
  endif
  assign input_line_color = false
  if section.settings.input_line_color != 'rgba(0,0,0,0)' and section.settings.input_line_color != blank
    assign input_line_color = true
    assign input_line_color_section = section.settings.input_line_color
  endif
  assign input_background_color = false
  if section.settings.input_background_color != 'rgba(0,0,0,0)' and section.settings.input_background_color != blank
    assign input_background_color = true
    assign input_opacity_section = section.settings.input_background_color_opacity | times: 0.01
    assign input_background_color_section = section.settings.input_background_color
  endif
  if section.settings.enable_lazy
    assign lazy = 'lazy'
  else
    assign lazy = 'eager'
  endif
-%}

{% style %}
  .dynamic-section-{{ section.id }} { 
    --margin_padding_desktop: {{ section.settings.padding_desktop }}vh;
    --margin_padding_mobile: {{ section.settings.padding_mobile }}vh;
    {%- if background_color -%}
    --background:{{ background_color_section }};
    {%- endif -%}
    --section-padding-top-mobile: {{ section.settings.padding_top_mobile }}px;
    --section-padding-top-desktop: {{ section.settings.padding_top_desktop }}px;
    --section-padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;
    --section-padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
    --section-margin-bottom-mobile: {{ section.settings.margin_bottom_mobile }}px;
    --section-margin-bottom-desktop: {{ section.settings.margin_bottom_desktop }}px;
  }
  .dynamic-section-{{ section.id }} .banner-section { 
    {%- if text_color -%}
    --headline_font_color:{{ text_color_section }};
    --body_font_color:{{ text_color_section }};
    --button_primary_background:{{ text_color_section }};
    --button_primary_border:{{ text_color_section }};
    --button_primary_text:var(--background);
    --button_secondary_background:{{ text_color_section }};
    --button_secondary_border:{{ text_color_section }};
    --button_secondary_text:{{ text_color_section }};
    {%- endif -%}
    {%- if text_color_hover -%}
    --body_font_hover_color:{{ text_color_hover_section }};
    {%- endif -%}
    {%- if overlay_color -%}      
      {%- if text_color -%}  
        --button_primary_text:{{ section.settings.background_img_overlay }};
        --button_secondary_hover:{{ section.settings.background_img_overlay }};
      {% endif %}
    --overlay_background: {{ overlay_color_section }};
    --overlay_opacity: {{ section.settings.background_img_overlay_opacity | times: 0.01 }};
    {%- endif -%}
    z-index: 9;
  }
  .dynamic-section-{{ section.id }} .banner-section .open-container {
    {%- if input_background_color -%}  
    --background: {{ input_background_color_section }};
    --background_85: {{ input_background_color_section | color_modify: 'alpha', input_opacity_section }};
    {%- endif -%}    
    {%- if input_line_color -%}  
    --line_color:{{ input_line_color_section }};
    {%- endif -%}
    {%- if input_color -%}
    --body_font_color:{{ input_color_section }};
    {%- endif -%}
    {%- if input_color_hover -%}
    --body_font_hover_color:{{ input_color_hover_section }};
    {%- endif -%}  
  }
{% endstyle %}

<section data-section-id="{{ section.id }}"
         {% unless section_onboarding %}data-section-type="filter"{% endunless %}
         data-url="{{ 'script.filter.js' | asset_url }}"
         data-tag="{{ settings.filtering }}"
         class="{{ classes }}{% if settings.animation_enable %}animate-section-div {% endif %}clearfix">

  {%- liquid
    assign block_width = section.settings.block_width
    case block_width
      when '4'
        assign block_width = 'four'
      when '6'
        assign block_width = 'six'
      when '8'
        assign block_width = 'eight'
      when '9'
        assign block_width = 'nine'
      when '12'
        assign block_width = 'twelve'
    endcase
  -%}
  <div class="banner-section {% if full_width %}{% if background_img or overlay_color %}relative {% if background_img %}lazycontainer {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
    {%- liquid
      if full_width and section.settings.background_img_d != blank
        if section.settings.background_img_m != blank
          assign screen = 'desktop-image '
        endif
      render 'image.load', img_src: section.settings.background_img_d, size: section.settings.background_img_d.width, alt: alt_d, background: true, screen: screen, full_width: true, lazy: lazy, sizes: '100vw'
      endif
      if full_width and section.settings.background_img_m != blank
        if section.settings.background_img_d != blank
          assign screen = 'mobile-image '
        endif
      render 'image.load', img_src: section.settings.background_img_m, size: section.settings.background_img_m.width, alt: alt_m, background: true, screen: screen, full_width: true, lazy: lazy, sizes: '100vw'
      endif
    -%}
    <div class="relative container{% if full_width %} half-pad{% else %} {% if background_img or overlay_color %}inner-container{% else %}half-pad{% endif %}{% endif %}{% if settings.animation_enable %} animate-section load{% endif %} clearfix">
      <div class="{% if full_width == false %}{% if background_img or overlay_color %}inner-container-pad relative {% if background_img %}lazycontainer {% endif %}{% if overlay_color %}background-overlay {% endif %}{% endif %}{% endif %}clearfix">
        {%- liquid
          if full_width == false and section.settings.background_img_d != blank
            if section.settings.background_img_m != blank
              assign screen = 'desktop-image '
            endif
            render 'image.load', img_src: section.settings.background_img_d, size: section.settings.background_img_d.width, alt: alt_d, background: true, screen: screen, lazy: lazy, sizes: '(min-width: 1220px) 1180px, calc(100vw - 40px)'
          endif
          if full_width == false and section.settings.background_img_m != blank
            if section.settings.background_img_d != blank
              assign screen = 'mobile-image '
            endif
            render 'image.load', img_src: section.settings.background_img_m, size: section.settings.background_img_m.width, alt: alt_m, background: true, screen: screen, lazy: lazy, sizes: '(min-width: 1220px) 1180px, calc(100vw - 40px)'
          endif
        -%}
        <div class="relative table filter-form-{{ section.id }} content-height content-height-options">
          <div class="table-cell {{ section.settings.vertical_content_alignment }}">
            <div class="{{ block_width }} animate {{ section.settings.text_alignment }} {{ section.settings.horizontal_content_alignment }}">
              {%- liquid
                if section.settings.title_h1
                  assign title = 1
                else
                  assign title = 2
                endif
              -%}
              {% unless section_onboarding and section.settings.title == blank and section.settings.sub_title == blank %}
              {% if section.settings.title != blank%}<h{{ title }} class="section-title-{{ section.settings.title_size }}">{{ section.settings.title | escape }}</h{{ title }}>{% endif %}
              {% if section.settings.sub_title != blank %}<h3 class="section-title-{{ section.settings.title_sub_size }}">{{ section.settings.sub_title | escape }}</h3>{% endif %}
              {% if section.settings.body != blank %}{{ section.settings.body }}{% endif %}
              {% else %}
              <h{{ title }} class="section-title-{{ section.settings.title_size }}">{{ 'homepage.onboarding.collection_no_title' | t }}</h{{ title }}>
              <h3 class="section-title-{{ section.settings.title_sub_size }}">{{ 'homepage.onboarding.no_body' | t }}</h3>
              {% endunless %}
              
              <div class="filter table-center tab-body toppad-quarter {% if section.settings.form_layout %}horizontal{% else %}vertical{% endif %}-form clearfix">
                {% if section_onboarding %}
                  <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-loop-0 animate-filter">
                    <span class="form mobile">
                      <span class="select">
                        <label for="directory_label_0_{{ section.id }}" class="visually-hidden">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}</label>
                        <select id="directory_label_0_{{ section.id }}" class="tag-select no-select"> 
                          <option value="">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</option>
                          {%- for i in (1..3) -%}
                          <option>Option {{ i }}</option>
                          {%- endfor -%}
                        </select>
                        {%- render 'icons.theme', icon: 'arrow-down', size: 14 -%}
                      </span>
                    </span>
                  </div>
                  {%- for i in (1..2) -%}
                  <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-loop-{{ forloop.index }} animate-filter">
                    <span class="form mobile">
                      <span class="select">
                        <label for="directory_label_{{ i }}_{{ section.id }}" class="visually-hidden">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}</label>
                        <select id="directory_label_{{ i }}_{{ section.id }}" class="tag-select no-select"> 
                          <option value="">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</option>
                          {%- for i in (1..3) -%}
                          <option>Option {{ i }}</option>
                          {%- endfor -%}
                        </select>
                        {%- render 'icons.theme', icon: 'arrow-down', size: 14 -%}
                      </span>
                    </span>
                  </div>
                  {%- endfor -%}
                  <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-button animate-loop-4 animate-filter"><span class="form mobile"><input type="button" value="{% if section.settings.button != blank %}{{ section.settings.button }}{% else %}{{ 'general.search.title' | t }}{% endif %}" class="btn{% if section.settings.outline_button %} outline{% endif %} auto-full-width" aria-label="{% if section.settings.button != blank %}{{ section.settings.button | escape }}{% else %}{{ 'general.search.title' | t | escape }}{% endif %}" /></span></div>
                {% else %}
                  {%- liquid                  
                    assign tag = 1
                    assign tag_1 = false
                    assign tag_2 = false
                    assign tag_3 = false                  
                    for block in section.blocks
                      if block.settings.collection != blank
                        assign collection = collections[block.settings.collection]
                      else
                        assign collection = collections.all
                      endif                      
                      if block.settings.tag_1 != blank
                        assign tag_1 = true
                      endif
                      if block.settings.tag_2 != blank
                        assign tag_2 = true
                      endif
                      if block.settings.tag_3 != blank
                        assign tag_3 = true
                      endif                                             
                    endfor                      
                    if tag_1
                      assign tag = tag | plus: 1
                    endif
                    if tag_2
                      assign tag = tag | plus: 1
                    endif
                    if tag_3
                      assign tag = tag | plus: 1
                    endif
                  -%}
                  
                  <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-loop-0 animate-filter">
                    <span class="form mobile">
                      <span id="select_0_{{ section.id }}" 
                            class="new-select text-left" 
                            data-columns="{{ tag }}">
                        <span class="directory_label_0 select enabled open-container">
                          <label for="directory_label_0_{{ section.id }}" class="hidden">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}</label>
                          <select id="directory_label_0_{{ section.id }}" class="hidden no-select" aria-hidden="true" tabindex="-1"> 
                            <option class="first" value="">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</option>
                            {%- for block in section.blocks -%}
                            {%- if block.settings.collection != blank -%}
                            {%- assign collection = collections[block.settings.collection] -%}  
                            <option value="{% if settings.filtering %}{{ collection.url | append: '/' }}{% else %}{{ collection.url | append: '?' }}{% endif %}" 
                                    data-id="{{ collection.id  }}" 
                                    data-tag-1="{{ block.settings.tag_1 }}" 
                                    data-tag-2="{{ block.settings.tag_2 }}" 
                                    data-tag-3="{{ block.settings.tag_3 }}" 
                                    {{ block.shopify_attributes }}>{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ collection.title }}{% endif %}</option>
                            {%- else -%} 
                            <option value="{% if settings.filtering %}{{ routes.all_products_collection_url | append: '/' }}{% else %}{{ routes.all_products_collection_url | append: '?' }}{% endif %}" 
                                    data-id="all" 
                                    data-tag-1=""
                                    data-tag-2="" 
                                    data-tag-3="" 
                                    {{ block.shopify_attributes }}>{{ 'homepage.onboarding.collection_all' | t }}</option>
                            {%- endif -%}
                            {%- endfor -%}
                          </select>
                          <details>
                            <summary class="styledSelect" title="{% if section.settings.directory_label != blank %}{{ section.settings.directory_label | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}" aria-label="{% if section.settings.directory_label != blank %}{{ section.settings.directory_label | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</summary>
                          </details>
                          <div class="open-slide">
                            <ul class="options unformatted">
                              <li class="first hidden">{% if section.settings.directory_label != blank %}{{ section.settings.directory_label }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</li>
                              {%- for block in section.blocks -%}
                              {%- if block.settings.collection != blank -%}
                              {%- assign collection = collections[block.settings.collection] -%}  
                              <li {{ block.shopify_attributes }}>
                                <button type="button"
                                        rel="{% if settings.filtering %}{{ collection.url | append: '/' }}{% else %}{{ collection.url | append: '?' }}{% endif %}"
                                        data-id="{{ collection.id  }}">{% if block.settings.title != blank %}{{ block.settings.title }}{% else %}{{ collection.title }}{% endif %}</button></li>
                              {%- else -%}
                              <li {{ block.shopify_attributes }}>
                                <button type="button"
                                        rel="{% if settings.filtering %}{{ routes.all_products_collection_url | append: '/' }}{% else %}{{ routes.all_products_collection_url | append: '?' }}{% endif %}" 
                                        data-id="all">{{ 'homepage.onboarding.collection_all' | t }}</button></li>
                              {%- endif -%}
                              {%- endfor -%}
                            </ul>
                          </div>
                          {%- render 'icons.theme', icon: 'arrow-down', size: 14 -%}
                          <label class="error" style="display:none">{{ 'general.validation.required' | t }}</label>
                        </span>
                      </span>
                    </span>
                  </div>
                  
                  {%- if tag > 0 -%}
                    {%- assign tag = tag | minus: 1 -%}
                    
                    {%- for i in (1..tag) -%}
                      <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-loop-{{ forloop.index }} animate-filter">
                        <span class="form mobile">   
                          <span id="select_{{ i }}_{{ section.id }}" 
                                class="new-select text-left"
                                data-tag>
                            <span class="directory_label_{{ i }}_{{ section.id }} tag-select select open-container disabled advanced">
                              <label for="directory_label_{{ i }}_{{ section.id }}" class="hidden">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}</label>
                              <select id="directory_label_{{ i }}_{{ section.id }}" class="no-select hidden advanced" disabled="disabled" aria-hidden="true" tabindex="-1">
                                <option class="first" value="" data-select="{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}...">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</option>
                              </select>                          
                              <details>
                                <summary class="styledSelect first" title="{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}" aria-label="{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}" data-select="{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select | escape }}{% else %}{{ 'layout.general.please_select' | t | escape }}{% endif %}...">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</summary>
                              </details>
                              <div class="open-slide">
                                <ul id="directory_label_{{ i }}_{{ section.id }}_dropdown" class="options unformatted">
                                  <li class="first hidden">{% if section.settings.directory_label_select != blank %}{{ section.settings.directory_label_select }}{% else %}{{ 'layout.general.please_select' | t }}{% endif %}...</li>
                                </ul>
                              </div>
                              {%- render 'icons.theme', icon: 'arrow-down', size: 14 -%}
                            </span>
                          </span>
                        </span>
                      </div>
                    {%- endfor -%}                
                  {%- endif -%}
                
                  <div class="{% if section.settings.form_layout %}three horizontal-form{% else %}twelve vertical-form{% endif %} animate animate-button animate-loop-4 animate-filter"><span class="form mobile"><input type="button" value="{% if section.settings.button != blank %}{{ section.settings.button }}{% else %}{{ 'general.search.title' | t }}{% endif %}" class="{% unless section_onboarding %}advanced {% endunless %}btn{% if section.settings.outline_button %} outline{% endif %} auto-full-width" /></span></div>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>

{% schema %}
  {
    "name": "t:sections.advanced_filter.name",
    "settings": [
      {
        "type": "paragraph",
    	"content": "t:sections.advanced_filter.content"
      },
      {
        "type": "header",
        "content": "t:sections.banner.label"
      },
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.heading.label",
		"default": "Advanced filter"
      },
      {
        "id": "title_h1",
        "type": "checkbox",
        "label": "t:sections.heading.heading_one",
        "default": false
      },
      {
        "id": "title_size",
        "type": "range",
        "label": "t:sections.heading.heading_size",
        "min": 12,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 48
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "t:sections.subheading.label",
		"default": "Filter products using tags or storefront filters"
      },
      {
        "id": "title_sub_size",
        "type": "range",
        "label": "t:sections.subheading.subheading_size",
        "min": 12,
        "max": 96,
        "step": 6,
        "unit": "px",
        "default": 24
      },
      {
        "type": "richtext",
        "id": "body",
        "label": "t:sections.text.label"
      },
      {
        "id": "section_color",
        "type": "color",
        "label": "t:sections.text.color"
      },
      {
        "id": "section_color_hover",
        "type": "color",
        "label": "t:sections.text.hover"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "t:sections.text_alignment.label",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "t:sections.alignment.left"
          },
          {
            "value": "text-center",
            "label": "t:sections.alignment.center"
          },
          {
            "value": "text-right",
            "label": "t:sections.alignment.right"
          }
        ]
      },
      {
        "type": "select",
        "id": "block_width",
        "label": "t:sections.content_width.label",
        "default": "12",
        "options": [
          {
            "value": "4",
            "label": "33%"
          },
          {
            "value": "6",
            "label": "50%"
          },
          {
            "value": "8",
            "label": "66%"
          },
          {
            "value": "9",
            "label": "75%"
          },
          {
            "value": "12",
            "label": "100%"
          }
        ]
      },
      {
        "type": "select",
        "id": "horizontal_content_alignment",
        "label": "t:sections.horizontal_position.label",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "t:sections.alignment.left"
          },
          {
            "value": "center",
            "label": "t:sections.alignment.center"
          },
          {
            "value": "right",
            "label": "t:sections.alignment.right"
          }
        ]
      },
      {
        "type": "select",
        "id": "vertical_content_alignment",
        "label": "t:sections.vertical_position.label",
        "default": "middle",
        "options": [
          {
            "value": "top",
            "label": "t:sections.vertical_position.top"
          },
          {
            "value": "middle",
            "label": "t:sections.vertical_position.middle"
          },
          {
            "value": "bottom",
            "label": "t:sections.vertical_position.bottom"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "background_img_d",
        "label": "t:sections.image.desktop.label",
        "info": "t:sections.image.desktop.info"
      },
      {
        "type": "image_picker",
        "id": "background_img_m",
        "label": "t:sections.image.mobile.label",
        "info": "t:sections.image.mobile.info"
      },
	  {
       "type": "checkbox",
       "id": "full_width",
       "label": "t:sections.full_width.label",
       "default": true
      },
      {
        "type": "range",
        "id": "padding_desktop",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.height.desktop.label",
        "default": 25
      },
      {
        "type": "range",
        "id": "padding_mobile",
        "min": 5,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.height.mobile.label",
        "default": 25
      },
	  {
        "type": "color",
        "id": "background_img_overlay",
        "label": "t:sections.overlay.label",
        "default": "#000000"
      },
      {
        "type": "color_background",
        "id": "background_img_overlay_gradient",
        "label": "t:sections.overlay.gradient"
      },
      {
        "type": "range",
        "id": "background_img_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.opacity.label",
        "default": 0
      },
      {
        "type": "header",
        "content": "t:sections.options.label"
      },
      {
        "type": "checkbox",
        "id": "form_layout",
        "label": "t:sections.horizontal_form.label",
        "default": true
      },
      {
        "type": "text",
        "id": "directory_label",
        "label": "t:sections.first_dropdown.label",
		"default": "Select"
      },
      {
        "type": "text",
        "id": "directory_label_select",
        "label": "t:sections.remaining.label",
		"default": "Select"
      },
      {
        "id": "input_color",
        "type": "color",
        "label": "t:sections.text.color"
      },
      {
        "id": "input_color_hover",
        "type": "color",
        "label": "t:sections.text.hover"
      },
      {
        "id": "input_line_color",
        "type": "color",
        "label": "t:sections.dropdown_background_color.line"
      },
      {
        "id": "input_background_color",
        "type": "color",
        "label": "t:sections.dropdown_background_color.label"
      },
      {
        "type": "range",
        "id": "input_background_color_opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "t:sections.dropdown_background_color.opacity",
        "default": 0
      },
      {
        "type": "text", 
        "id": "button",
        "label": "t:sections.button.label",
		"default": "Search"
      },
      {
        "type": "checkbox",
        "id": "outline_button",
        "label": "t:sections.outline.label",
        "default": false
      },
      {
        "type": "header",
        "content": "t:sections.section.name.content"
      },
      {
        "id": "enable_lazy",
        "type": "checkbox",
        "label": "t:sections.section.settings.lazy.multiple.label",
        "default": true
      },
      {
        "id": "background",
        "type": "color",
        "label": "t:sections.section.settings.background_color.label"
      },
      {
        "id": "background_gradient",
        "type": "color_background",
        "label": "t:sections.section.settings.background_gradient.label"
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.mobile.content"
      },
      {
        "id": "padding_top_mobile",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "padding_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "id": "margin_bottom_mobile",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 20
      },
      {
        "type": "paragraph",
        "content": "t:sections.section.settings.desktop.content"
      },
      {
        "id": "padding_top_desktop",
        "type": "range",
        "label": "t:sections.section.settings.top_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_pad.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "margin_bottom_desktop",
        "type": "range",
        "label": "t:sections.section.settings.bottom_margin.label",
        "min": 0,
        "max": 60,
        "step": 10,
        "unit": "px",
        "default": 40
      },
      {
        "id": "padding_border",
        "type": "checkbox",
        "label": "t:sections.section.settings.border.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.collection.label",
        "settings": [ 
          {
             "type": "collection",
             "id": "collection",
             "label": "t:sections.collection.label"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.title.label"
          },
          {
            "type": "text",
            "id": "tag_1",
            "label": "t:sections.advanced_filter.filter_1"
          },
          {
            "type": "text",
            "id": "tag_2",
            "label": "t:sections.advanced_filter.filter_2"
          },
          {
            "type": "text",
            "id": "tag_3",
            "label": "t:sections.advanced_filter.filter_3"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.advanced_filter.name"
      }
    ],
    "disabled_on": {
	  "templates": ["password"],
      "groups": ["custom.overlay"]
    }
  }
{% endschema %}